
<div class="form-group">
    <label>Estado Civil</label><br />

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="soltero" name="EstadoCivil" value="Soltero" />
        <label class="form-check-label" for="soltero">Soltero</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="casado" name="EstadoCivil" value="Casado" />
        <label class="form-check-label" for="casado">Casado</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="divorciado" name="EstadoCivil" value="Divorciado" />
        <label class="form-check-label" for="divorciado">Divorciado</label>
    </div>

    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" id="viudo" name="EstadoCivil" value="Viudo" />
        <label class="form-check-label" for="viudo">Viudo</label>
    </div>
</div>
